<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-1739">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Our Client's Testimonials</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-review-1.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-review-1.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-review-1.png" alt="person" width="240" height="300">
                </picture>
                <div class="cs-info">
                    <div class="cs-review">
                        <span class="cs-name">Ahmed Shah</span>
                        <div class="cs-flex">
                            <span class="cs-desc">Regular customer</span>
                            <img class="cs-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
                                alt="stars" width="96" height="16">
                        </div>
                        <p class="cs-item-text">
                            ”Great gym! A new gym with modern equipment and facilities makes training so much easier. always willing to help you with your training”
                        </p>
                    </div>
                    <div class="cs-boxes">
                        <div class="cs-box cs-box-light">
                            <span class="cs-weight">
                                <img class="cs-arrow" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-arrow-up.svg" alt="arrow up" height="36" width="36" loading="lazy" decoding="async"> 
                                110KG
                            </span>
                            <span class="cs-tagline">Before Progress</span>
                        </div>
                        <div class="cs-box cs-box-dark">
                            <span class="cs-weight">
                                <img class="cs-arrow" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-arrow-down.svg" alt="arrow down" height="36" width="36" loading="lazy" decoding="async"> 
                                82KG
                            </span>
                            <span class="cs-tagline">After Progress</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-review-2.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-review-2.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-review-2.png" alt="person" width="240" height="300">
                </picture>
                <div class="cs-info">
                    <div class="cs-review">
                        <span class="cs-name">Alexander Moore</span>
                        <div class="cs-flex">
                            <span class="cs-desc">Founder Of HealthGuides</span>
                            <img class="cs-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
                                alt="stars" width="96" height="16">
                        </div>
                        <p class="cs-item-text">
                            ”This place inspired me to found my own organisation about health. Comforting and secure environment, well maintained equipment and supportive staff. Definitely recommend.”
                        </p>
                    </div>
                    <div class="cs-boxes">
                        <div class="cs-box cs-box-light">
                            <span class="cs-weight">
                                <img class="cs-arrow" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-arrow-up.svg" alt="arrow up" height="36" width="36" loading="lazy" decoding="async"> 
                                90KG
                            </span>
                            <span class="cs-tagline">Before Progress</span>
                        </div>
                        <div class="cs-box cs-box-dark">
                            <span class="cs-weight">
                                <img class="cs-arrow" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-arrow-down.svg" alt="arrow down" height="36" width="36" loading="lazy" decoding="async"> 
                                81KG
                            </span>
                            <span class="cs-tagline">After Progress</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-texture.png">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-texture.png">
        <img class="cs-background" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-texture.png" alt="background" height="1920" width="1080" loading="lazy" decoding="async">
    </picture>
</section>
            