---
title: "Reviews | Code Stitch Web Designs"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "reviews/"
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Reviews</h1>
        <picture class="cs-picture">
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/landing-m.webp"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/landing.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/landing.jpg"
                alt="new home"
                width="2500"
                height="1667"
                loading="eager"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-1672">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Testimonials</span>
                <h2 class="cs-title">Our Customer Reviews</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot1.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                        </picture>
                        <span class="cs-name">
                            Britney Allison
                            <span class="cs-job">Regular customer</span>
                        </span>
                    </div>
                    <div class="wrapper">
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                        <p class="cs-review">
                        Gym Tiger at first seemed intimidating to me but everyone here is friendly. The staff know not to allow any aggressive behaviour. They have a set of rules that aren't too strict but also do well to keep a sense of order.
                        </p>
                    </div>
                    <!--Quote Icon-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
                </li>
                <li class="cs-item">
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/review2.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                        </picture>
                        <span class="cs-name">
                            Brooklyn Simmons
                            <span class="cs-job">Fitness influencer</span>
                        </span>
                    </div>
                    <div class="wrapper">
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                        <p class="cs-review">
                        Great place for bodybuilding too. They're very transparent about social media perception between natural and augmented bodies. Lots of respect for that. That's why I know this is a very honest and safe place to keep fit.
                        </p>
                    </div>
                    <!--Quote Icon-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
                </li>
                <li class="cs-item">
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot2.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                        </picture>
                        <span class="cs-name">
                            Cameron Williamson
                            <span class="cs-job">Regular customer</span>
                        </span>
                    </div>
                    <div class="wrapper">
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                        <p class="cs-review">
                        Many different facilites for your needs. I personally came to lose weight and they definitely have the facilities needed according to your intentions. It's very broad in that regard, though I understand some may prefer more specialised gyms.
                        </p>
                    </div>
                    <!--Quote Icon-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
                </li>
            </ul>
        </div>
    </section>

    {% include 'components/testimonials.html' %}
{% endblock %}
