---
title: "Gym Tiger Fitness Centre"
description: ""
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
    key: Home
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script
        defer
        src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    <script defer>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", (user) => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>

    <!-- JSON Schema Markup -->
    <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1856">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Best Gym Of The City For Fitness</span>
                <h1 class="cs-title">You Can Boost Your Strength</h1>
                <p class="cs-text">
                    Develop confidence, composure under pressure and the discipline needed to be a champ. This is the club you’ve been looking for.
                </p>
                <a href="/about" class="cs-button-10" aria-label="read more about us">
                    Read More
                    <svg class="cs-icon" aria-hidden="true" width="30" height="24" viewBox="0 0 30 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.83 11.29L10.59 7.05001C10.497 6.95628 10.3864 6.88189 10.2646 6.83112C10.1427 6.78035 10.012 6.75421 9.88 6.75421C9.74799 6.75421 9.61729 6.78035 9.49543 6.83112C9.37357 6.88189 9.26297 6.95628 9.17 7.05001C8.98375 7.23737 8.87921 7.49082 8.87921 7.75501C8.87921 8.0192 8.98375 8.27265 9.17 8.46001L12.71 12L9.17 15.54C8.98375 15.7274 8.87921 15.9808 8.87921 16.245C8.87921 16.5092 8.98375 16.7626 9.17 16.95C9.26344 17.0427 9.37426 17.116 9.4961 17.1658C9.61794 17.2155 9.7484 17.2408 9.88 17.24C10.0116 17.2408 10.1421 17.2155 10.2639 17.1658C10.3857 17.116 10.4966 17.0427 10.59 16.95L14.83 12.71C14.9237 12.617 14.9981 12.5064 15.0489 12.3846C15.0997 12.2627 15.1258 12.132 15.1258 12C15.1258 11.868 15.0997 11.7373 15.0489 11.6154C14.9981 11.4936 14.9237 11.383 14.83 11.29Z" fill="white"/>
                        <path d="M20.83 11.29L16.59 7.05001C16.497 6.95628 16.3864 6.88189 16.2646 6.83112C16.1427 6.78035 16.012 6.75421 15.88 6.75421C15.748 6.75421 15.6173 6.78035 15.4954 6.83112C15.3736 6.88189 15.263 6.95628 15.17 7.05001C14.9838 7.23737 14.8792 7.49082 14.8792 7.75501C14.8792 8.0192 14.9838 8.27265 15.17 8.46001L18.71 12L15.17 15.54C14.9838 15.7274 14.8792 15.9808 14.8792 16.245C14.8792 16.5092 14.9838 16.7626 15.17 16.95C15.2634 17.0427 15.3743 17.116 15.4961 17.1658C15.6179 17.2155 15.7484 17.2408 15.88 17.24C16.0116 17.2408 16.1421 17.2155 16.2639 17.1658C16.3857 17.116 16.4966 17.0427 16.59 16.95L20.83 12.71C20.9237 12.617 20.9981 12.5064 21.0489 12.3846C21.0997 12.2627 21.1258 12.132 21.1258 12C21.1258 11.868 21.0997 11.7373 21.0489 11.6154C20.9981 11.4936 20.9237 11.383 20.83 11.29Z" fill="white"/>
                    </svg>
                </a>
                <img class="cs-content-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-hero-graphic.svg" alt="graphic" height="1075" width="1135" loading="lazy" decoding="async">
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="../../assets/images/hero.jpg">
            <source media="(min-width: 601px)" srcset="../../assets/images/hero.jpg">
            <img loading="lazy" decoding="async" src="../../assets/images/hero.jpg" alt="field" width="1920" height="1200" aria-hidden="true">
        </picture>

        <img class="cs-graphic cs-graphic-light" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-splatter.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
        <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
        <img class="cs-graphic cs-graphic-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-mode-splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
    </section>
           

    <!-- ============================================ -->
    <!--                Why Choose Us                 -->
    <!-- ============================================ -->

    <section id="why-choose-1876">
        <div class="cs-container">
            <div class="cs-video-wrapper">
                <!--Compress your video and upload it to a CDN like Digital Oceans Spaces so the video file doesn't cause load time issues. You can also remove the video tag and uncomment the picture tag to use a image instead of a video. Don't forget to remove the cs-play button!-->
                <video loading="lazy" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Videos/gym.mp4" autoplay="false"></video>
                <!-- <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-hero.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-hero.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-hero.jpg" alt="body builder" width="630" height="877">
                    </picture> -->
                <button class="cs-play" aria-label="click to play video">
                    <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/play-right.svg" alt="play icon" class="cs-icon" width="24" height="24" aria-hidden="true" decoding="async">
                </button>
            </div>
            <div class="cs-content">
                <span class="cs-topper">Why Choose Us</span>
                <h2 class="cs-title">We Are Pushing The Limit Of Your Core Strength</h2>
                <p class="cs-text">
                    We understand that your lifestyle changes, that’s why we’ve made fitness straightforward and stress free. Join today on a no lock-in contract membership and start achieving your fitness goals. We value flexibility at Jetts, with unlimited 24/7 access.
                </p>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                        22,000 square feet Gym
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                        State of the Art Equipment
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                        Series Results Based on Training
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                        Programs for weight loss
                    </li>
                </ul>
                <a href="/contact" class="cs-button-10" aria-label="read more about us">
                    Enroll now
                    <svg class="cs-icon" aria-hidden="true" width="30" height="24" viewBox="0 0 30 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.83 11.29L10.59 7.05001C10.497 6.95628 10.3864 6.88189 10.2646 6.83112C10.1427 6.78035 10.012 6.75421 9.88 6.75421C9.74799 6.75421 9.61729 6.78035 9.49543 6.83112C9.37357 6.88189 9.26297 6.95628 9.17 7.05001C8.98375 7.23737 8.87921 7.49082 8.87921 7.75501C8.87921 8.0192 8.98375 8.27265 9.17 8.46001L12.71 12L9.17 15.54C8.98375 15.7274 8.87921 15.9808 8.87921 16.245C8.87921 16.5092 8.98375 16.7626 9.17 16.95C9.26344 17.0427 9.37426 17.116 9.4961 17.1658C9.61794 17.2155 9.7484 17.2408 9.88 17.24C10.0116 17.2408 10.1421 17.2155 10.2639 17.1658C10.3857 17.116 10.4966 17.0427 10.59 16.95L14.83 12.71C14.9237 12.617 14.9981 12.5064 15.0489 12.3846C15.0997 12.2627 15.1258 12.132 15.1258 12C15.1258 11.868 15.0997 11.7373 15.0489 11.6154C14.9981 11.4936 14.9237 11.383 14.83 11.29Z" fill="white"/>
                        <path d="M20.83 11.29L16.59 7.05001C16.497 6.95628 16.3864 6.88189 16.2646 6.83112C16.1427 6.78035 16.012 6.75421 15.88 6.75421C15.748 6.75421 15.6173 6.78035 15.4954 6.83112C15.3736 6.88189 15.263 6.95628 15.17 7.05001C14.9838 7.23737 14.8792 7.49082 14.8792 7.75501C14.8792 8.0192 14.9838 8.27265 15.17 8.46001L18.71 12L15.17 15.54C14.9838 15.7274 14.8792 15.9808 14.8792 16.245C14.8792 16.5092 14.9838 16.7626 15.17 16.95C15.2634 17.0427 15.3743 17.116 15.4961 17.1658C15.6179 17.2155 15.7484 17.2408 15.88 17.24C16.0116 17.2408 16.1421 17.2155 16.2639 17.1658C16.3857 17.116 16.4966 17.0427 16.59 16.95L20.83 12.71C20.9237 12.617 20.9981 12.5064 21.0489 12.3846C21.0997 12.2627 21.1258 12.132 21.1258 12C21.1258 11.868 21.0997 11.7373 21.0489 11.6154C20.9981 11.4936 20.9237 11.383 20.83 11.29Z" fill="white"/>
                    </svg>
                </a>
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="../assets/images/home-lift.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="../assets/images/home-lift.jpg">
                    <img loading="lazy" decoding="async" src="../assets/images/home-lift.jpg" alt="people" width="608" height="406">
                </picture>
            </div>
        </div>
        <!--White Splash Graphic-->
        <img class="cs-graphic cs-light" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/f7-splatter.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
        <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
        <img class="cs-graphic cs-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-mode-splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async">
    </section>
           

    <!-- ============================================ -->
    <!--                   Timetable                  -->
    <!-- ============================================ -->

    <section id="timetable-1731">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex-group">
                    <span class="cs-topper">Schedule</span>
                    <h2 class="cs-title">Build your best body</h2>
                </div>
                <a href="/about" class="cs-button-10 cs-li-link" aria-label="read more about us">
                    Read More
                    <svg class="cs-icon" aria-hidden="true" width="30" height="24" viewBox="0 0 30 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.83 11.29L10.59 7.05001C10.497 6.95628 10.3864 6.88189 10.2646 6.83112C10.1427 6.78035 10.012 6.75421 9.88 6.75421C9.74799 6.75421 9.61729 6.78035 9.49543 6.83112C9.37357 6.88189 9.26297 6.95628 9.17 7.05001C8.98375 7.23737 8.87921 7.49082 8.87921 7.75501C8.87921 8.0192 8.98375 8.27265 9.17 8.46001L12.71 12L9.17 15.54C8.98375 15.7274 8.87921 15.9808 8.87921 16.245C8.87921 16.5092 8.98375 16.7626 9.17 16.95C9.26344 17.0427 9.37426 17.116 9.4961 17.1658C9.61794 17.2155 9.7484 17.2408 9.88 17.24C10.0116 17.2408 10.1421 17.2155 10.2639 17.1658C10.3857 17.116 10.4966 17.0427 10.59 16.95L14.83 12.71C14.9237 12.617 14.9981 12.5064 15.0489 12.3846C15.0997 12.2627 15.1258 12.132 15.1258 12C15.1258 11.868 15.0997 11.7373 15.0489 11.6154C14.9981 11.4936 14.9237 11.383 14.83 11.29Z" fill="white"/>
                        <path d="M20.83 11.29L16.59 7.05001C16.497 6.95628 16.3864 6.88189 16.2646 6.83112C16.1427 6.78035 16.012 6.75421 15.88 6.75421C15.748 6.75421 15.6173 6.78035 15.4954 6.83112C15.3736 6.88189 15.263 6.95628 15.17 7.05001C14.9838 7.23737 14.8792 7.49082 14.8792 7.75501C14.8792 8.0192 14.9838 8.27265 15.17 8.46001L18.71 12L15.17 15.54C14.9838 15.7274 14.8792 15.9808 14.8792 16.245C14.8792 16.5092 14.9838 16.7626 15.17 16.95C15.2634 17.0427 15.3743 17.116 15.4961 17.1658C15.6179 17.2155 15.7484 17.2408 15.88 17.24C16.0116 17.2408 16.1421 17.2155 16.2639 17.1658C16.3857 17.116 16.4966 17.0427 16.59 16.95L20.83 12.71C20.9237 12.617 20.9981 12.5064 21.0489 12.3846C21.0997 12.2627 21.1258 12.132 21.1258 12C21.1258 11.868 21.0997 11.7373 21.0489 11.6154C20.9981 11.4936 20.9237 11.383 20.83 11.29Z" fill="white"/>
                    </svg>
                    <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-upper-right-arrow.svg"
                            alt="arrow" loading="lazy" decoding="async" height="28" width="28">
                </a>
            </div>
            <div class="cs-table-list">
                <table class="cs-table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Monday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Mat Pilates</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Power Yoga</th>
                            <td>10:00 - 11:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Cardio Burn</th>
                            <td>13:00 - 14:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Strong Man</th>
                            <td>8:00 - 8:30</td>
                        </tr>
                    </tbody>
                </table>
                <table class="cs-table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Tuesday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Stretches</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Power Yoga</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Cardio Burn</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Strong Man</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                    </tbody>
                </table>
                <table class="cs-table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Wednesday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Meeting</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Crossfit</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Cardio Burn</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Boxing</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                    </tbody>
                </table>
                <table class="cs-table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Thursday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Stretches</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Power Yoga</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Crossfit</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Leg day</th>
                            <td>10:00 - 11:00</td>
                        </tr>
                    </tbody>
                </table>
                <table class="cs-table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Friday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Mat Pilates</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Power Yoga</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Cardio Burn</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Strong Man</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                    </tbody>
                </table>
                <table class="cs-table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Saturday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Power Yoga</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Mat Pilates</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Boxing</th>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Finish Early</th>
                            <td>18:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-timetable-bg.png">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-timetable-bg-desk.png">
            <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-timetable-bg.png" alt="background" loading="lazy" decoding="async" height="1080" width="1920" >
        </picture>
    </section>

    {% include 'components/testimonials.html' %}
{% endblock %}
